/* CSS DO SITE 'UNOVERSE' INTEIRO
esse arquivo contem todas as configuracoes de CSS usadas na plataforma,
estao explicadas ao maximo, escolhemos nao utilizar mais deum arquivo css
 para evitar geracao de mais arquivos alem dos ja existentes no laravel :) */


/* importacao de icones */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* a principal funçao dessas variaveis do css eh de trocar a cor de tema e suas transicoes. 
algumas cores repetem porque tinha cor igual que trocava para cor diferente, por exemplo o 
azul do fundo que virava branco, mas o mesmo azul fazia parte do topo */
:root{
    --cor-primaria: #003F64;
    --cor-secundaria: #FFFFFF; 
    --cor-terciaria: #001F32; 
    --cor-quaternaria: #000000;
    --cor-quinta: #003F64;
    --cor-sexta: #FFFFFF;
    --cor-setima: #CEE8FF;
    --cor-oitava: #00468D;
    /* transição */
    --transicao1: background-color;
    --transicao2: color;
    --transicaoDuracao: 0.4s;
    --transicaoTempo: ease;
    --transicao: var(--transicao1) var(--transicaoDuracao)
            var(--transicaoTempo),
        var(--transicao2) var(--transicaoDuracao)
            var(--transicaoTempo);

  /* vars de pagina acoes */
  --font:'Consolas', sans-serif;
  --color: #379BFF;
  --bg-color: var(--cor-setima);
}


/* CONFIGURACOES USADAS EM ASPECTOS GERAIS DA PAGINA (menu, footer, divs mae e body, etc) */
/* alteracao de alguns aspectos de classes que sao do bootstrap */
.fixada{ /*topo*/
    background-color: var(--cor-primaria) !important;
    box-shadow: 0 10px 40px 0 var(--cor-setima);
    transition: var(--transicao);
}
.nav-link{ /*topo*/
    font-family: 'Consolas';
    color: var(--cor-secundaria) !important;
    transition: var(--transicao);
}
.nav-link:hover{ /*topo*/
    color: #FFAD5A!important;
}
.offcanvas-header{ /*topo*/
    background-color: var(--cor-primaria) !important;
    transition: var(--transicao);
}
.offcanvas-body{ /*topo*/
    background-color: var(--cor-primaria) !important;
    transition: var(--transicao);
}
.dropdown-menu{ /*topo*/
    background-color: var(--cor-primaria) !important;   
    transition: var(--transicao);
}

/* definicao geral de todas as paginas */
*{
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* div mae*/
.mae{
    margin-top: 15vh;
    background-color: var(--cor-sexta);
    color: var(--cor-quaternaria);
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: var(--transicao);
}

/* configurações do footer */
  .footer{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100%;
  }
  
  .footer .logo-space {
    color: var(--cor-secundaria);
    max-width: 1010px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: Consolas;
  }
  
  .footer .conteudo {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .conteudo p {
    margin-bottom: 1.3rem;
  }
  
  .footer .menu-footer a {
    text-decoration: none;
    color: var(--cor-secundaria);
  }
  .footer .social a {
    text-decoration: none;
    color: var(--cor-secundaria);
  }
  
  .footer .menu-footer a:hover {
    border-bottom: 1px solid #FFAD5A;
  }

  .footer .social a:hover {
    border-bottom: 1px solid #FFAD5A;
  }
  .voltar{
    color: var(--cor-secundaria);
    transition: var(--transicao);
  }
  .voltar:hover{
    color: #FFAD5A;
    transition: var(--transicao);
  }

  .footer .conteudo h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
    color:#FFAD5A;
  }
  
  footer {
    text-align: center;
  }

  /* parte que arruma footer para telas diferentes (responsividade) */
  @media (max-width: 767px) {
    .footer .conteudo {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
    .footer {
      position: unset;
    }


       
   

  }   
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .conteudo,
    .footer {
      font-size: 14px;
    }
      


  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  
  }

/* tamanho logomarca */
.logomarca{
  align-items: left;
  justify-content: left;
  align-content: left;
  height: 8vh;
} 

/* icone sol */
.sol{
    color: var(--cor-secundaria)  ;
    padding: 0.7vh;
    padding-right: 0vh;
    height: 6vh;
    transition: var(--transicao);
}
.sol:hover{
    color: #FFAD5A;
}

/* body para pagina */
.body{
    width: 100%;
    font-family: Consolas;
    /* display: flex; */
    /* margin-top: 16vh; */
    /* color: var(--cor-quaternaria);sw */
    position: relative ;
}

/* PAGINA DE HOME (home.blade.php) */
/* slider */
.container-slide{
  height: 33.6vh;
  width: 100vw;
  /* border-radius: 20px; */
  overflow: hidden;
  position: relative;
  top: 16.4vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  margin-bottom: 5vh;
 }
   
 .navigation{
    position: absolute;
    bottom: 2vh;
    left: 45%;
    display: flex;
 }
 .dot{
    width: 8px;
    height: 8px;
    border: 2px solid var(--cor-secundaria);
    margin: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s;
 }
 .bar:hover{
    background-color: var(--cor-secundaria);
 }

 input{
    display: none;
 }

 .slides{
    display:flex;
    width: 500vw;
    height: 100vh;
 }
 .slide {
    width: 20%;
    transition: 0.6s;
    margin-top: 11vh;

 }

 .slide img{
    width: 100vw;
    /* height: 100%; */
 } 

 #slide1:checked ~ .s1{ /*Testa para saber se o slide1 está check, caso esteja a class .s1 assume a propriedade definida*/
    margin-left: 0;
 }
 #slide2:checked ~ .s1{/*Testa para saber se o slide2 está check, caso esteja a class .s1 assume a propriedade definida*/
    margin-left: -20%;
 }
 #slide3:checked ~ .s1{/*Testa para saber se o slide3 está check, caso esteja a class .s1 assume a propriedade definida*/
    margin-left: -40%;
 }

 .video{
  display: flex;
 }  
 
 .bolas img{
  display: none;
 }
 .app_bolas{
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 33vh;
 }
 .app_bolas img{
  width: 14vw;
 }
 #app_bolas_azuis  
 {
  top: 20vh;
 }
 #app_bolas_amarelas{
  float: right;
  margin-top: 43%;
 }

.video iframe{
  position: absolute;
  z-index: 10;
  margin-top: 35vh;
  margin-left: 5vw;
  width: 90vw;
  height: 25vh;

     
}
.video p{
  position: absolute;
    text-align: justify;
    font-size: 4.2vw;
    line-height: 3.5vh;
    width: 79vw;
    margin-left: 10vw;
    margin-top: 5vh;
    z-index: 10;

}
 #bolas_azuis{
  width: 25vw;
  height: 33vh;
  margin-top: 12vh;
  margin-left: 2vh;

 }
 #bolas_amarelas{
  width: 14vw;
  height: 30vh;
  margin-left: 1vw;


 }
 #wave_home{
  width: 160%;
  position: relative;
  z-index: 1;
  margin-top: 62vh;  

 }
 
 .arduino_info{   
  display: block;
  /* text-align: center; */
  /* justify-content:center; */
 }


.arduino_info h2{
  position: absolute;
  z-index: 10;
  color: #FFFFFF;
  font-size: 4vw;
  width: 42vw;
  font-weight: bold;
  margin: 77vh 30vw 0vh 30vw;
}
.texto_info{
  display: none;      
}
.app-texto_info{
  align-items: center !important;
  position: absolute;
  z-index: 10;
  display: block;
  color: #FFFFFF;
  margin: 148vh 15vw 0vh 15vw;
  align-items: center !important;
}
.app-texto_info p {
  font-size: 4vw;
  text-align: justify;

}
.app-texto_info img{
  width: 75vw;
  margin-top: 7vh;
  margin-bottom: 7vh;
  box-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
  border: dotted 7px;
  border-radius: 2vh;
  border-color: #FFD571;
}
.componentes{    
  width: 100%;
  display: block;  
  position: absolute;   
  z-index: 11;
  margin: 83vh 12vw 0vh 12vw;
}    
.componentes a img{
  padding: 2vh; 
  width: 30vw;      
}
.componentes a{   
  transition: 0.5s;     
}

.engloba-comp{
  display: flex;  
  margin-bottom: 2vh;
 }

 .engloba-comp p{    
  color: #FFFFFF;
  width: 48%;
  font-size: 3.3vw;
  margin-top: 4vh;    
 }


.janela-modal-placa-uno{
  /* essa classe pe o overlay responsável por deixar o fundo do site escuro quando o botão é apertado */
  width: 100vw;
  height: 597vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000073;
  display: none;  
  align-items: center;
  justify-content: center;     
  z-index: 999;
}
.janela-modal-protoboard{
  /* essa classe pe o overlay responsável por deixar o fundo do site escuro quando o botão é apertado */
  width: 100vw;   
  height: 597vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000073;
  display: none;  
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.janela-modal-jumpers{
  /* essa classe pe o overlay responsável por deixar o fundo do site escuro quando o botão é apertado */
  width: 100vw;
  height: 597vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000073;
  display: none;  
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.janela-modal-placa-uno.abrir{
  display: none;
}
.janela-modal-protoboard.abrir{
  display: none;
}
.janela-modal-jumpers.abrir{
  display: none;
}



/* PAGINA DE DEVS (devs.blade.php) */
/*engloba apenas um dev e um texto de apresentacao*/
.engloba-texto{
  margin-top: 13vh;
    width: 98%;
    display: flex;
    
}

/* texto de apresentacao dos devs */
.texto-devs{
  display: none;
     
}
.nomeDevs{
  display: none;
}
.app-texto-devs h1
{
  width: 78vw;
}
.app-texto-devs p
{
  width: 44vw;
  margin-top: 6vh;
}
.app-texto-devs{
  margin-left: -2vw;
    width: 58vw;
    height: 10vh;
    padding: 3vh;
    text-align: justify;
    font-size: 4vw; 
}
.texto-devs h1{
  font-size: 4.5vw;   
  font-weight: bold;
  text-align: center;
  line-height: 8vh;
}

/*engloba os outros 6 devs */
.engloba-pessoas{
  display: block;
  height: 90vh;
  margin-top: 20vh;
  font-family: Consolas;
  position: relative;
      
}

/* card de laura e configuracoes */
.card-roxo{  
  float: right;
    transition: 0.2s;
    width: 40vw;
    height: 11vh;
    border-radius: 4vw;
    margin-top: 8vh;
    background-color: #C496FF;
    box-shadow: 20px 29px 53px 3px rgba(0,0,0,0.75);
}
.card-roxo img{
  width: 40vw;
  border-radius: 0 0 10vw 10vw;
  margin-bottom: 0vw;
    
}       


.card-roxo h2 {
  width: 40vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: 3.7vw;
  border-radius: 5vw 5vw 0 0;
  font-family: Consolas;
  color: var(--cor-secundaria);
  text-align: center;
  background-color: #C496FF;
}
.card-roxo:hover{
    transition: 0.2s;
    transform: translateY(-1vw); 
	box-shadow: 0 1vw 1vw rgba(255,170,202); 
}

/* card de nicole, paula e evellyn e suas configuracoes */
.card-azul{
  float: left;
  margin-left: 2.5vw;
  transition: 0.2s;
  width: 30vw;
  height: 25vh;
  border-radius: 6vw;
  margin-top: 11vh;
  background-color: #92C8FF;
  box-shadow: 20px 29px 53px 3px rgba(0,0,0,0.75);
}
.card-azul:hover{
    transition: 0.2s;
    transform: translateY(-1vw); 
	  box-shadow: 0 1vw 1vw rgba(255,213,113); 
}
.card-azul img{
  width: 30vw;
  border-radius: 7vw 7vw 0 0;
  margin-bottom: 0vw;
}
.card-azul h2{
  width: 30vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: 3.7vw;
  border-radius: 0 0 5vw 5vw;
  font-family: Consolas;
  color: var(--cor-secundaria);
  text-align: center;
  background-color: #92C8FF;
  transition: var(--transicao);
}

/* card de pedro, eloisa e deborah e suasconfiguracoes */
.card-amarelo{
  height: 25vh;
    float: left;
    margin-left: 2.5vw;
    transition: 0.2s;
    width: 30vw;
    border-radius: 6vw;
    margin-top: 11vh;
    background-color: #FFD571;
    box-shadow: 20px 29px 53px 3px rgba(0,0,0,0.75);
 
}
.card-amarelo img{
  width: 30vw;
  border-radius: 7vw 7vw 0 0; 
  margin-bottom: 0vw;
}
.card-amarelo h2{
  width: 30vw; 
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: 3.7vw;
  border-radius: 0 0 5vw 5vw;
  font-family: Consolas;
  color: var(--cor-secundaria);
  text-align: center;
  background-color: #FFD571;
  transition: var(--transicao);


}
.card-amarelo:hover{
    transition: 0.2s;
    transform: translateY(-1vw); 
	box-shadow: 0 1vw 1vw rgba(146,200,255); 
}

 
/* PAGINA DE MODULOS (modulos.blade.php) */

.total-modulos{
  display: none !important;
}
.engloba-mod{
  width: 100%;
  height: auto;
  margin-top: 12vh;
}
.mod{
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  padding: 1em;
}
.mod1{
  width: 60%;
  padding: 0.6em
}
.alinha-mod{
  display: flex;
  text-align: right !important;
  align-items: right !important;
  flex-direction: column;
}
.mod2{
  width: 40%;
}


/* PAGINA DE ENTRAR (entrar.blade.php) */

 .container{
    background-color: yellow;
    width: 70vw;
    height: 120vh;
    /* z-index: 2; */
 }
.input-field{
    background-color: #9747FF;
    width: 30vw;
    height: 40vh;
    /* z-index: 1; */
 }

 

 /*ENTRAR*/
 .espaco{
  margin-top: 20vh;
 }
 .form_entrar{    
  width: 92vw;
  height: 51vh;
  margin-top: 5vh;
  margin-left: 4.5vw;
  margin-right: 2vw;
  background: linear-gradient(150.96deg, #FFAD5A 6.47%, #FFD571 101.21%);
  border-radius: 4vh;
  color: #FFFFFF;
  font-family: 'Consolas';
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10vh;*/
}
.form_entrar h1{
  font-size: 4vh;
  padding-left: 5vw;
  padding-top: 2vw;
}
.form_entrar label{
  font-size: 2vh;
  padding-left: 5vw;
  padding-top: 2vw;
}
/* .form_entrar input{
  /* background-color:none; 
  border-color: var(--cor-secundaria);
  z-index: -1;
} */
/* elementos */
.linha_titulo{
  display:flex;
  padding-left: 5vw;
}
/* o espaco ate a linha do adm precisava diminuir, por isso criamos retangulo 2 */
.linha_titulo2{
  display:flex;
  padding-left: 1vw;
}
.retangulo{
  width: 35vw;
  height: 1vh;
  left: 21vw;
  top: 34vh;
  background:#FFFFFF;
  border-radius: 5vh;
  margin-bottom: 3vh;
}
/* o retangulo do adm precisava aumentar, por isso criamos retangulo 2 */
.retangulo2{
  width: 30vw;
  height: 1vh;
  /* left: 21vw; */
  top: 34vh;
  background:#FFFFFF;
  border-radius: 5vh;
}
.bola{
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;
  background: #FFFFFF;
  margin-left:2vw;
}
.form-itens{

  /* margin-top: 5vh; */
  margin-bottom: 5vh;
  width: 40vw;
  height: 8vh;
}

.form-itens input{
  color: #FFFFFF;
    font-size: 3.6vw;
    display: flex;
    width: 76vw;
    height: 6vw;
    background: linear-gradient(150.96deg, #FFAD5A 6.47%, #FFD571 101.21%);
    border: 0.2vw solid #FFFFFF;
    border-radius: 3.7vw;
    margin-top: 1vh;
    margin-left: 2vw;
    outline: none;
}

    
.form-btn label{
  color: #FFAD5A;
  background-color: #FFFFFF;
  padding-left: 10vw;
  /* padding-top: 1.5vw; */
  width: 30vw;
  height: 5vh;
  border-radius: 10vh;
  float: left;
  margin-left: 5vw;
  margin-top: 3vw;
    
}
    
.form-btn a{
  color: #FFAD5A;
  background-color: #FFFFFF;
  /* padding-right: 0vw; */
  /* padding-left: 4vw; */
  text-align: center;
  padding-top: 1.5vw;
  width: 30vw;
  height: 5vh;
  float: left;
  margin-left: 5vw;
  margin-right: 2vw;
  margin-top: 3vw;
  font-size: 2vh;
  text-decoration: none;
  border-radius: 15vh;
}
.olhoCor{
  color: #FFFFFF;
}
#olho
{
    float: right;
    display: flex;
    font-size: 2em;
}

/* essas classes abaixo servem para arrumar o lugar do olho ao lado do input */
.container-senha{
  height: 5vh;
  background-color: transparent;
}

.input-wrapper{
  /* padding: 8px 12px; */
  
  display: inline-flex;
  /* align-items: center; */
  gap: 18px;
}
#senha {
  width: 66vw;
}

.error-entrar {
  width: 80vw;
  margin-left: 8vw;
  font-size: 3.5vw;
}
/* PAGINAS DE CADASTRO (pasta links) */
/*Form cadastro padrao entre os modos*/
.form-cad{
width: 91vw;
height: 87vh;
border-radius: 40px;
margin-left: 5vw;
margin-bottom: 10vh;
}

.form-cad h1 {
  font-size: 6vw;
  color: #FFFFFF;
  margin-left: 5vw;
  padding-top: 2vh;
}
.form-cad label {
  outline: none;
  font-size: 3vw;
  color: #FFFFFF;
  display: list-item;
}
.form-cad input{
  
  color: #FFFFFF;
  display: block;
  border: 1px solid;
  border-radius: 4vh;
  font-size: 3.6vw;
  width: 77vw; 
  height: 2.5vh;
  /* margin-left: 1vw; */
  outline: none;
}

.cad-items-radio label{
  font-size: 4vw;
  display: inherit; 
  margin-left: 8vw;
  margin-top: 1vh;
}
.cad-items-radio input{
  outline: none;
  width: 2.2vw;
  margin-right: 0.5vw;
  margin-top: 0;
  float: left;

}

.cad-items{
  width: 47vh;
  float: left;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

.cad-items select{
  width: 74vw;
  height: 3vh;
  border-radius: 2vw;
  display: block;
  margin-top: 0vh;
  font-size: 3vw;
}


.cad-items-submit input{
  outline: none;
  background: #FFFFFF;
  width: 30vw;
  height: 5vh;
  border-radius: 2vw;
  font-size: 4vw;
  float: right;
  margin-right: 5vw;
  margin-top: 0vh;
}



/*Configuraçoess especificas de curioso*/
.cad-curioso img{
  display: none;
}

.cad-curioso{
background: linear-gradient(141deg, #9747FF 0%, #BE8BFF 100%);
list-style-type: none;
}
.cad-curioso input{
background: linear-gradient(141deg, #9747FF 0%, #BE8BFF 100%);
outline: none;
}
.envia:hover{
  text-decoration: underline;
}
 
/*Configuracoes especificas de estudante*/
.cad-estudante{
  background: linear-gradient(144deg, #1AB9BD 0%, #00FFD1 100%);
  height: 200vw;
  margin-top: 0vw;
  list-style-type: none;
}
.cad-estudante input{
background: linear-gradient(144deg, #1AB9BD 0%, #00FFD1 100%); 
outline: none;
}
.cad-estudante img{ 
  display: none;
}
.cad-estudante select{
background: #00FFD1;
}
.envia:hover{
  text-decoration: underline;
}

/*Configuracoes especificas de Professor*/
.cad-professor{
  background: linear-gradient(141deg, #006CD9 0%, #1789FC 100%);
  margin-top: 0;
  height: 200vw;
  list-style-type: none;
}
.cad-professor input{
background: linear-gradient(141deg, #006CD9 0%, #1789FC 100%);
outline: none;
}
.cad-professor img{
  display: none;
}
.cad-professor select{
background: #1789FC;
}
.envia:hover{
  text-decoration: underline;
}


/*  TELAS ADM */



/*pagina index*/

.bloco-geral{
  display: flex;
  margin-top: 10vh;
  margin-left: 2vw;
}

.botoes-escolha{
  width: 60%;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.img-adm{
  width: 40%;
}

.img-adm img{
  width: 30vw;
  height: 90vh;
}

.btn-escolha{
  margin: 2vw;
  padding: 1vw;
  width: 28vw;
  height: 8vh;
  background-color: #1789FC;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 2vw;
  font-size: 1vw;
  transition: var(--transicao);
}

.btn-escolha:hover{
  background-color: #50a6fc;
  transition: var(--transicao);
}

/*Configuracao da tabela da listagem de dados*/
.adm{
  /* margin-top: 17vh; */
  margin-left: 2vw;
}
.adm h3{
  color:#FFAD5A;
  font-size: 50px;
  margin-bottom: -10vh;
}
.adm table{
  margin-left: 2vw;
  border: 2px solid #FFF;
  background-color: #003F64;
  font-size: 25px;
  color: #003F64;
}

.adm thead{
  border: 1px solid;
  padding: 1vw;
  background-color: #003F64;;
}

.adm tr{
  margin: 0vw;
}
.adm td{
  padding-right: 7vw;
  color: #FFF;
}

.adm input
{
  color: #FFF;
  display:block;
}

.btn-lista{
  color: #fff;
  background-color: #003F64;
  font-size: 25px;
  margin-top: 2vh;
  border-radius: 4vw;
  

}

.btn-add{
  width: 6vw;
  height: 5vh;
  text-align: center;
  margin: 1vh;
  margin-top: 5vh;
  
  
}
.lista-add{
    width: 15vw;
    height: 10vh;
    background: linear-gradient(141deg, #003F64  0%, #006CD9 100%);
    padding: 1vw;
    border-radius: 2vw;
    padding-inline: 2vw;
    margin-top: 5vh;
    text-decoration: none;
    
}


/* Estilo para o modal de fundo */
#modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

/* Estilo para o modal interno */
.modal-iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border: 1px solid #000;
}

/* Estilo para o botão de fechar o modal */
#fechar-modal {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.btn-visua
{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}







/* Configuraçoes na pagina Cadastrar */
.cadatv-content{
  display: flex;
  margin-top: 15vh;
  margin-left: 3vw;
  justify-content: space-between;

}
.conteudo_form_ativ{
  margin-left: 5%;
}
.form_atividade h3{
  color: #fff;
  font-size: 4.9vh;
  margin-top:2%;
  margin-left:2%;
}
.adicionar_ativ{
  margin-top: 10%;
  margin-left: 65%;
  background-color: #fff;
  color: #F96800;
  border: none;
  border-radius: 5.2vh;
  width: 12vw;
  height: 10vh;
  font-size: 1.8vw;
  transition: var(--transicao);
}

.adicionar_ativ:hover{
  background-color: #ffb682;
  color:#ffffff;
  transition: var(--transicao);
}
.form_atividade{
  background: linear-gradient(90deg, rgba(249,104,0,1) 4%, rgba(255,173,90,1) 98%);
  width: 39.6vw;
  height: 86.6vh;
  border-radius:3vw;
}
.form_cad_ativ{

  margin-top: 8%;
} 
.form_cad_ativ label{
  color: #fff;
  font-size: 3vh;
}
.form_cad_ativ input{
  display:block;
  outline: none;
  border-color: #fff;
  border-radius: 5.2vh;
  background: linear-gradient(90deg, rgba(249,104,0,1) 4%, rgba(255,173,90,1) 98%);
  width: 50%;
  
}
.espaco{
  color: #fff;
}
.escolha{
  margin-top: 15vh;
  text-align: center;
    color: #FFAD5A;
}
.escolha h1{
  font-size: 6vw;
  font-weight: bold;;  
}
.cards_cadastro{
    margin-left: 5vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
   
} 
.estudante{
  display: flex;
    background-color: #00DEB6;
    width: 89vw;
    /* height: 14vh; */
    box-shadow: 1vw 2vh 1.5vw gray;
    border-radius: 3vh;
    margin-bottom: 4vh;
    margin-top: 2vh;
}
.curioso{
  display: flex;
  background-color: #AC6BFF;
  width: 89vw;
  /* height: 60vh; */
  box-shadow: 1vw 2vh 1.5vw gray;
  border-radius: 3vh;
  margin-bottom: 4vh;
    margin-top: 2vh;

}
.professor{
  display: flex;
  background-color: #1789FC;
  width: 89vw;
  /* height: 60vh; */
  box-shadow: 1vw 2vh 1.5vw gray;
  border-radius: 3vh;
  margin-bottom: 4vh;
    margin-top: 2vh;
}
.botao_modulo{
  background-color: #FFAD5A;
  color: #FFF;
  width: 37vw;
  height: 7%;
  margin-right: 6vw;
  border-radius: 3vw;
  /* margin: 13vh 3vw 3vw; */
  text-align: center;
  padding-top: 2vh;
  padding: 2vw;
  margin-top: 4vh;

}
.imagem_cad{
    width: 30vh;
    margin-left: 6vw;
}
.app-img-cad{
  width: 31vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* height: 19vh;*/
}
.img-cad
{
  display: none;
}
.botao_modulo a{
  color: #FFF;
  text-decoration: none;
  font-size: 6vw;
  /* margin-top: 2vh;*/

}
.botao_modulo:hover{
  background-color: #ff8710;
} 

/*Configuração da página Acoes*/
.texto_acoes{
  position: absolute;
  z-index: 10;
  font-size: 1.2em;
  margin-top: 10vh;
  margin-left: 4vw;
  margin-right: 4vw;
  color: #000000;
  /* line-height: 4.5vh; */
  
}
.texto_acoes p{
  margin-top: 5vh;
}
.texto_acoes h1{
  font-size: 1.5em;
  margin-top: 5vh;
  color: #e90;
}    
#wave_acoes{
  position: relative;
  width:400vw;
  z-index: 1;

}          
        
 /* acoes-slider */
 .envolve__slider{
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
 
.swiper{
  width:100% !important;
}
.swiper-wraper{
  height: 20em;
  display: flex;
  align-items: center;
}
.card{
  background: rgba( 255, 255, 255, 0.25 ) !important;
  backdrop-filter: blur( 5px ) !important;
  -webkit-backdrop-filter: blur( 5px ) !important;
  width:20em !important; 
  height:100% !important;
  border-radius: 4em !important;
  border: 5px dotted #003F64 !important;
  /* box-shadow: 0 0 2em rgba(0, 0, 0, .2); */
  padding: 2em 1em !important;
  display: flex !important; 
  align-items: center !important;
  flex-direction: column !important;
  margin: 0 2em !important;
}

.swiper-slide:not(.swiper-slide-active){
  filter: blur(2px);
}
.swiper-slide{
  width: 20em !important;
  border: none;
}
.card__image{
  width: 18em;
  height: 20em;
  border-radius: 50px;
  padding: 0.3em;
  margin-bottom: 2em;
}

.card__image img{
  width:100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;

}
.card__title{
  color: #e90;
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  top:.2em;
}

.card__name{
  color:#003F64;
  font-size: 1.2em;

}

.card__text{
display: none;

}

/* PERFIL */
.body-perfil h3{
  color: #000000;
  font-size: 3vw;
  margin-top: 20vh;
  margin-left: 5vw;
}
.quadro-perfil{
  width: 90vw;
  height: 90vh;
  margin-left: 5vw;
  margin-top: 13vh;
  background-color: #1789FC;
  border-radius: 3vw;
  display: flex;
}
.quadro-perfil p{
  color: #fff;

}
/* */
  
/* COOKIES */
.cookies-msg{
  display: block;
  width: 70vw;
  height: 70vw;
  margin-left: 15vw;
  border-radius: 2.75rem;
  background: linear-gradient(105deg, #379BFF 2.37%, #00FFD1 155.3%);
  position: fixed;
  z-index: 999;
  color: #ffffff;
  box-shadow: -4px 29px 53px 151px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 29px 53px 151px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 29px 53px 151px rgba(0,0,0,0.75);   
}
.cookies-info h2{
  text-align: center;
}
.cookies-info h4{   
  display: none;
}  
.cookies-info p{
  display: none;  
}
.cookies-btn{
  border-radius: 1rem;  
  background: #006EDD;
  color: #FFF;
  text-align: center;
  font-family: Consolas;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border:none;
  margin-left: 25%;
  margin-right: 25%;
}

#cookies-img-mobile{
  width: 30%;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 10%;
}
.cookies-info img{
  display: none;
}


 
/* TELA LOGADA */

.engloba-logada{
  font-family: 'Consolas';
  color: #FFFFFF;
  overflow: hidden;
  margin-top: 32vw;
}


.engloba-logada h1{
  text-align: center;
  color: #E8AA14;
  margin-bottom: 6vw;
}

.card-logada{
  position: relative;
  width: 97vw;
  height: 23vh;
  border-radius: 4vh;
  padding: 2vh;
  display: flex;
  margin: 2vw;
  overflow: hidden;
  /* margin-left: 15%;*/
  
}

/*ESTUDANTE*/
.iniciante-estudante{
  background-color: #b68af0;
  transition: all 0.3s ease-out;
}


.intermediario-estudante{
  background-color: #863ce6;
  transition: all 0.3s ease-out;
}


.avancado-estudante{
  background-color: #410096;
  transition: all 0.3s ease-out;
}

.iniciante-estudante::before, .intermediario-estudante::before, .avancado-estudante::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%; /* Initially positioned to the right */
  bottom: 0;
  left: 0;
  background-color: transparent; /* Initial background color */
  transition: 0.3s ease-out;; 
  z-index: -1;
}

.iniciante-estudante:hover::before, .intermediario-estudante:hover::before, .avancado-estudante:hover::before {
  right: 0; /* Move the pseudo-element to the left */
  background-color: #FFD571; 
  transition: all 0.3s ease-out;
  opacity: 1;
}
.iniciante-estudante:hover, .intermediario-estudante:hover, .avancado-estudante:hover{
  transition: all 0.3s ease-out;
  z-index: 1;
}

.btn-estudante {
  font-size: 2vh;
  display: block;
  border-radius: 2vw;
  border: none;
  margin-top: 16vh;
  margin-left: -27vw;
  background-color: #FFD571;
  color: #FFFFFF;
  padding: 0.5vw;
  text-align: center;
  transition: 0.4s;
  text-decoration: none;
}


/* CURIOSO */
.iniciante-curioso{
  background-color: #a4d2ff;
  transition: all 0.3s ease-out;
}

.intermediario-curioso{
  background-color: #66a8eb;
  transition: all 0.3s ease-out;
}

.avancado-curioso{
  background-color: #1789FC;
  transition: all 0.3s ease-out;
}


.iniciante-curioso::before, .intermediario-curioso::before, .avancado-curioso::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%; /* Initially positioned to the right */
  bottom: 0;
  left: 0;
  background-color: transparent; /* Initial background color */
  transition: 0.3s ease-out;; 
  z-index: -1;
}

.iniciante-curioso:hover::before, .intermediario-curioso:hover::before, .avancado-curioso:hover::before {
  right: 0; /* Move the pseudo-element to the left */
  background-color: #00FFD1; 
  transition: all 0.3s ease-out;
  opacity: 1;
}
.iniciante-curioso:hover, .intermediario-curioso:hover, .avancado-curioso:hover{
  transition: all 0.3s ease-out;
  z-index: 1;
}

.btn-curioso {

  font-size: 2vh;
  display: block;
  border-radius: 2vw;
  border: none;
  margin-top: 16vh;
  margin-left: -27vw;
  background-color: #00FFD1;
  color: #FFFFFF;
  padding: 0.5vw;
  text-align: center;
  transition: 0.4s;
  text-decoration: none;

}


/* PROFESSOR */
.iniciante-professor{
  background-color: #f5b574;
  transition: all 0.3s ease-out;
}

.intermediario-professor{
  background-color: #f19436;
  transition: all 0.3s ease-out;
}

.avancado-professor{
  background-color: #fa830c;
  transition: all 0.3s ease-out;
}


.iniciante-professor::before, .intermediario-professor::before, .avancado-professor::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%; /* Initially positioned to the right */
  bottom: 0;
  left: 0;
  background-color: transparent; /* Initial background color */
  transition: 0.3s ease-out;; 
  z-index: -1;
}

.iniciante-professor:hover::before, .intermediario-professor:hover::before, .avancado-professor:hover::before {
  right: 0; /* Move the pseudo-element to the left */
  background-color: #9747FF; 
  transition: all 0.3s ease-out;
  opacity: 1;
}
.iniciante-professor:hover, .intermediario-professor:hover, .avancado-professor:hover{
  transition: all 0.3s ease-out;
  z-index: 1;
}

.btn-professor {
  font-size: 2vh;
  display: block;
  border-radius: 2vw;
  border: none;
  margin-top: 16vh;
  margin-left: -27vw;
  background-color: #9747FF;
  color: #FFFFFF;
  padding: 0.5vw;
  text-align: center;
  transition: 0.4s;
  text-decoration: none;

}

/* GERAIS */

.img-log img{
  width: 15vw;
 
}


.intermediario{
  color: #F49E12;
}
.intermediario-prof{
  color: #FFFF00;
}
.iniciante{
  color: #006400;
}
.iniciante-prof{
  color: #00FF00;
}
.avancado{
  color:#FF0000;
}


.texto-log h2{
  font-size: 4vw;
  padding-left: 2vw;
}
.texto-log p{
  font-size: 3vw;
    text-align: justify;
    margin-top: 0vw;
    margin-left: 1vw;
    width: 68vw;
}

.btn-estudante:hover, .btn-curioso:hover, .btn-professor:hover{
  text-decoration: underline;
  transition: 0.4s;
}

/*ATIVIDADES*/

#fechar-modal{
  color: #fff;      
} 

/* PAGINA DE ATIVIDADES (atividade.blade.php) */

.pagAtvs{
  position: relative;
  padding-right: 0vh;
  margin-top: 17vh;
  margin-bottom: 20vh;
  z-index: 1;
} 
 #pagsAtv{
   width: 9vw; 
} 

.body-atv{
  display: inline-flex; 
  justify-content: center;  
}
.sidebar-btn{ 
  position: relative;
  /* display: block; */
  top: -10vw;
  /* margin-top: 0vw; */
  border: none;
  background-color: #9747FF;
  color: #FFFFFF;
  font-size: 4vw;
  border-radius: 0.5vw;
  z-index: 2;
    
}
 
.engloba-atv{
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  
}
.engloba-atv.active{
  width: 72vw;
  border-radius: 0vw 6vw 6vw;
  position: relative;
  z-index: 1;
  box-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
  margin-top: -8vh;
}
.blocado{
  background-color: #FFFFFF;
}  
.menu-atv{
  list-style: none;
  background-color: #FFFFFF;
  border-radius: 1vh;
  padding: 0;
  margin-bottom: 0;
}
.titulo-bloc{
  color: #FFFFFF;
  align-items: center;
  height: 9vw;
  font-size: 6vw;
  line-height: 4vh;
  padding-inline: 10vw;
  background-color: #9747FF;
}
.eng-atv{
  padding-inline: 5vw;
  padding-top: 3vw;
  padding-bottom: 11%;
}
.btn-atv {
  line-height: 13vw;
    padding: 2vw;
    color: #FFFFFF;
    background-color: #9747FF;
    border-radius: 3vh;
    border: none;
    transition: 0.4s;
    text-decoration: none;
    font-size: 3.5vw;
 
}
.btn-atv:hover{
  text-decoration: underline;  
  box-shadow: 0 0.5vw 0.5vw rgba(0,0,0,0.5);
  transition: 0.4s;
}  
#contatv{ 
     width: 90vw;
     margin-top: 21vh;
     float: right;

} 
 

#contatv h3 {
  font-size: 8vw;
  margin-left: 2vw;
} 

.iframe-block iframe{ 
  height: 14vh;
  width: 73vw;
  box-shadow: 0px 1vw 1vw 1vw rgba(0, 0, 0, 0.25);
  border-radius: 2vw;
  margin-bottom: 3vh;
}
.card-atv-descricao h3{
  font-size: 4vw;
  text-align: center;
}

.card-atv-descricao{
    background: linear-gradient(129deg, #9747FF 27.62%, #C496FF 111.76%);
    padding: 4vw;
    border-radius: 4vw;
    font-size: 3.6vw;
    color: #fff;
    line-height: 2.5vh;
    width: 70vw;
    margin-bottom: 10vh;
    margin-left: 1vw;
}

#codebox{
  display: none;
}   
#EsconderCodigo{
  display: none;
}

.btn-code {
  background-color: white;
    border: none;
    font-size: 4.6vw;
    display: inherit;
    margin-bottom: 6vh;
    color: #9747FF;
    font-weight: bold;
    margin-left: 2vw;
    border-radius: 1rem;
    text-decoration: none;
    margin-bottom: 4rem;
}
img.img-auxilio {
  width: 50vw;
  margin-left: 2vw;
}

.box-exercicio{
  width: 86vw;
    height: 38vh;
    margin-bottom: 6vh;
    margin-left: 9vw;
    border-radius: 4vh;
    font-family: Consolas;
    font-size: 3.8vw;
    color: #FFF;
    background: linear-gradient(129deg, #9747FF 27.62%, #C496FF 111.76%);
  }
.box-exercicio h3{
  line-height: 3vh;
    width: 77vw;
    margin-top: 6vh;
    padding-top: 2vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    font-size: 3.6vw;   
    text-align: justify;
}
.letra{
  font-size: 4vw;
  text-align: center;
  padding-left: 1.8vw;
  padding-top: 0.5vw;
  padding-bottom: 0.9vw;
  border-radius: 8vw;
  margin-left: 3vw;
  background-color: #FFAD5A;
}
.text_alt{
  margin-left: 1vw;
}
.group-btn{ 
  width: 100%;
  height: 6rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  
}
.btn-voltar{
  font-size: 3vw;
  background-color: #9747FF;
  color: #FFF;
  text-decoration: none;
  padding: 1vw;
  border-radius: 3rem;
  float: right;
  position: fixed;
  transform: translate(53vw, -18vw);
}
.btn-exer{
  background-color: #FFAD5A;
  color: #FFF;
  font-size: 6vw;
  text-decoration: none;
  padding: 1vw;
  border-radius: 5vw;
}
.alt_correta
{
  font-size: 3.6vw;
  text-align: center;
  margin-inline: 1vw;
}

#btn-oculta{ display: none;}
#btn-mostra{ display: inline;}

        /* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+c&plugins=line-numbers+show-language+toolbar+copy-to-clipboard */
code[class*=language-],pre[class*=language-]{color:#000;background:0 0;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
pre[class*=language-].line-numbers{position:relative;counter-reset:linenumber}pre[class*=language-].line-numbers>code{position:relative;white-space:inherit}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}
div.code-toolbar{    position: relative;
  width: 32vw;     margin-left: -7vw;}div.code-toolbar>.toolbar{position:absolute;z-index:10;top:.3em;right:.2em;transition:opacity .3s ease-in-out;opacity:0}div.code-toolbar:hover>.toolbar{opacity:1}div.code-toolbar:focus-within>.toolbar{opacity:1}div.code-toolbar>.toolbar>.toolbar-item{display:inline-block}div.code-toolbar>.toolbar>.toolbar-item>a{cursor:pointer}div.code-toolbar>.toolbar>.toolbar-item>button{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}div.code-toolbar>.toolbar>.toolbar-item>a,div.code-toolbar>.toolbar>.toolbar-item>button,div.code-toolbar>.toolbar>.toolbar-item>span{color:#bbb;font-size:.8em;padding:0 .5em;background:#f5f2f0;background:rgba(224,224,224,.2);box-shadow:0 2px 0 0 rgba(0,0,0,.2);border-radius:.5em}div.code-toolbar>.toolbar>.toolbar-item>a:focus,div.code-toolbar>.toolbar>.toolbar-item>a:hover,div.code-toolbar>.toolbar>.toolbar-item>button:focus,div.code-toolbar>.toolbar>.toolbar-item>button:hover,div.code-toolbar>.toolbar>.toolbar-item>span:focus,div.code-toolbar>.toolbar>.toolbar-item>span:hover{color:inherit;text-decoration:none}
pre{ 
  display: -webkit-inline-box;
}
pre[class*=language-].line-numbers {
  width: 93vw;
}
div.code-toolbar>.toolbar{
  top: 2vh;  
    right: -12.8em;
}


/* ATIVIDADE */

img.img-auxilio {
  width: 78vw;
  margin-left: 2vw;
} 



/* PERFIL */
.body-perfil h3{
  color: var(--cor-quaternaria);
  font-size: 3vw;
  margin-top: 20vh;  
  margin-left: 5vw;
}
/* .perfil{
  
  margin-top: 13vh;
  width: 90vw;
  height: 90vh; 
  margin-left: 5vw;
  background-color: #1789FC;
  border-radius: 3vw;
} */


 
.editar-perfil{
  background-color: #004A95;
  color:#fff;
  border-radius: 1vw;
  margin-top: 70vh;
  margin-right: 3vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
  width: 5vw;
}



.img_perfil img:hover{
  filter: brightness(60%); 
  transition: 0.3s;
}
/**/

.overlay {
      /* display: none; */
      transform: translate(23vw, -8vh);
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
   
      width: 41vw;
      font-size: 3.6vw;
      color: white;
} 
.overlay a{
  color: white;
  text-decoration: none;
}
.img_perfil:hover .overlay {
  opacity: 1;
} 

#esconderBTN{
  display: none;
}


.btnFoto-perfil
{
  background-color: #003F64;
  width: 31vw;
  height: 9vh;
  color: #FFF;
  border-radius: 5vw;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 1vh;
  margin-left: 0.5vw;

} 
.btnFoto-perfil input[type="file"]{  display: none;}
#InputFoto{  display: none;}
#Fotodefault{  display: none;}
#checkIconNome{  display: none;}
#checkIconSobrenome{  display: none;}
#select{  display: none;}
#checkIconEscola{  display: none;}
#checkIconEmail{  display: none;} 
#label1{  display: none;}
#label2{  display: none;}
#ocultar{  display: none;}
#mudarSenha{  display: none;}

#senhaAntiga{  display: none;}
#senhaNova{  display: none;}

.botoes-perfil{
  display: flex;
  /* width: 61vw; */
  margin-top: 4vh;
  height: 17vh;
  margin-left: 1vw;
}


.btn-senha-perfil{
  background-color: #003F64;
  color: #FFF;
  text-decoration: none;
  width: 29vw;
  height: 5vh;
  padding: 1vh;
  border: none;
  /* border-radius: 4vh; */
  margin: 1vw;
  text-align: center;
  margin-top: 0vh;

}
/**/

.body-perfil h3{
  color: #000000;
  font-size: 5vw;
  margin-top: 20vh;
  margin-left: 5vw;
}
.perfil{
  display: block;
  justify-content: space-between;
  /* margin-top: 13vh; */
  width: 90vw;
  /* height: 105vh; */
  margin-left: 5vw;
  background-color: #1789FC;
  border-radius: 3vw;
  margin-bottom: 10vh
}
.modulo_perfil h2{
    color: #FFFFFF;
    background-color: #9747FF;
    padding: 1vh 0vw;
    text-align: center;
    border-radius: 5vh;
    font-size: 2.4vw;  
    margin-left: 5vw;
    /* margin-to: 7vh; */
}

.quadro-perfil-esquerda{
  display: block;
  width: 89vw;
  padding: 2vw;
  margin-bottom: 13vw;
  height: 41vh;
  
}

.quadro-perfil-esquerda h2{
  color: #fff;
    font-size: 4.6vw;
    /* display: contents; */
    width: 79vw;
}
.quadro-perfil-esquerda p{
    color: #fff;
    font-size: 1vw;
}

.quadro-perfil-meio{
  display: block;
  width: 90vw;
  margin-left: 5vw;
}
.quadro-perfil-meio h2{
  color: #fff;
    font-size: 5.6vw;
    width: 20vw;
    margin-left: 6vw;
    display: flex;
  
  }
.quadro-perfil-meio p{
  color: #fff;
  font-size: 1.1vw;
  margin-bottom: 10vh;

}

.linha{
  display: none;
}


.quadro-perfil-direita{
  /* margin-top: 24vh; */
  display: block;
  width: 90vw;
  padding-bottom: 5vh;
  margin-left: 5vw;

}
.quadro-perfil-direita h2{
  color: #fff;
    font-size: 5.6vw; 
    width: 20vw;
    margin-left: 6vw;
    display: flex;
  
}
.quadro-perfil-direita p{
  color: #fff;
  font-size: 1.1vw;
  margin-bottom: 10vh;
  }

.bi-pencil-square{
  color: #003F64;
  margin-left: 6vw;
  transition: 0.4s;
  /* display: flex; */
  float: right;
}
.bi-pencil-square:hover{
  color:#410096;
  transition: 0.4s;
}
.input-editavel{
  color: #FFFFFF;
  background-color: #1789FC; 
  border: none;
  outline: none;
  width: 56vw;
  display: block;
  font-size: 4.1vw;
  border-bottom: 1px solid #003F64;
  /* margin-bottom: 2rem; */
  /* padding: 0.3vw; */
  margin-bottom: 7vw;
} 
form#form {
  height: 269vw;
}

.input-group input{
  color: #FFF;
  display: flex;
  margin-left: 7vw;
  line-height: normal;
}
input#editableInputEscola {
  margin-left: 6vw;
}
#mostra{
  width: 36vw;
  margin-left: 8vw;
}

.text-error{
  display: table-footer-group;
  color: #FFF;
}

.img_perfil img{
  width: 39vw;
  height: 39vw;
  clip-path: circle();
  margin-left: 23vw;
  /* justify-items: center; */
 
}
 

  