@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.navbar{
    background-color: #003F64 !important;
    
}
.nav-link{
    font-family: 'Consolas';
    color: #FFFFFF !important;
}
.nav-link:hover{
    color: #FFAD5A!important;
}


/* definicao geral de todas as paginas */
*{
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* div mae tema claro e tema escuro*/
.mae-claro{
    margin-top: 15vh;
    background-color: #FFFFFF;
    color: #000000;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.mae-escuro{
    margin-top: 15vh;
    background-color: #003F64;
    color: #FFFFFF;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* div do topo fixo */
.fixed-claro{
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color: #003F64;
    position: fixed;
    width: 99.99vw;
    height: 10vh;
    top: 0%;   
    display: flex; 
    z-index: 1;
    font-family: Consolas;
    box-shadow: 0 10px 40px 0 rgba(206, 232, 255);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.fixed-escuro{
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color: #001F32;
    position: fixed;
    width: 99.99vw;
    height: 10vh;
    top: 0%;   
    display: flex; 
    z-index: 1;
    font-family: Consolas;
    box-shadow: 0 10px 40px 0 rgba(65,105,225,60%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* div logomarca */
.logo-div{
    width: 20vw;
    text-align: center;
}

/* tamanho logomarca */
.logomarca{
    height: 8vh;
    /* padding:1vh; */
    /* text-align: left;
    top: 0vh;
    left: 0vh;
    right: 0vh;
    bottom: 0vh;*/  
} 

/* links do topo */
.link-topo{
    width: 60vw;
    align-items: center;
    text-align: center;
    /* font-family: Consolas; */
    margin: auto;
}

/* definicao links do topo */
.linkagem{
    font-family: Consolas;
    color: #FFFFFF;
    text-decoration: none;
    /* text-align: center; */
    transition: 0.1s;
    font-size: 1vw;
}

.linkagem:hover{
    text-decoration: underline;
    transition: 0.1s;
    font-weight: bold;
}

/* definicao dos notoes de entrar/login e cadastrar */
.logar-cad-topo{
    width: 20vw;
    align-items: center;
    text-align: center;
    margin: auto; 
}

/* icone entrar/login */
.sol{
    color: #FFFFFF  ;
    padding: 0.7vh;
    padding-right: 0vh;
    height: 6vh;
    /* background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: 57px; */
    transition: 0.1s;
}
.sol:hover{
    color: #FFAD5A;
}

/* cadastrar */
#btnCadastro
{
    color: #003F64;
    background: #EFEFEF;
    padding: 1vh;
    border-radius: 2.7vh;
    transition:0.1s;
   
}
#btnCadastro:hover{
    transition: 0.1s;
    background-color: #136e6c;
    color: #FFFFFF;
    text-decoration: none;
}

/* body para pagina */
.body{
    width: 100%;
    font-family: Consolas;
    /* display: flex; */
    margin-top: 16vh;
    /* color: #000000;sw */
    position: relative ;
}

/* footer claro e escuro*/
.bottom-claro{
    left: 0;
    bottom: 0;
    height: auto;
    width: 99.99vw;
    background-color: #003F64;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5vh;
    display: flex;
}
.bottom-escuro{
    left: 0;
    bottom: 0;
    height: auto;
    width: 99.99vw;
    background-color: #001F32;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5vh;
    display: flex;
}

/* envolve elementos do footer */
.envolve{
    width: 25vw;
}

.envolve h4{
    margin-top: 2vh;
}

.envolve h5{
    margin-top: 5vh;
}

/* envolve a logo no footer */
.envolve-logo{
    color: #FFFFFF;
    /* margin: 2vh; */
}

/* envolve os links */
.envolve-links{
    /* border: 0; */
    margin-top: 2vh;
    padding: 1vw 1vh;
}

/* espaço entre logo e links footer */
.lacuna{
    margin-top:1vh;
}

/* links do footer */
.linkagem-footer{
    text-align: left;
    padding-left: 6vw;
    font-family: Consolas;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linkagem-footer:hover{
    text-decoration: underline;
    transition: 0.1s;
    font-weight: bold;
}


/* texto de apresentacao dos devs */
.texto-devs{
    width: 50%;
    height: 10vh;
    padding: 3vh;
    text-align: justify;
    /* margin: auto; */
    
}
.texto-devs h1{
    font-weight: bold;
}
.engloba-texto{
    width: 98%;
    display: flex;
}
.engloba-pessoas{
    display:grid; 
    grid-template-columns: repeat(3,22vw);
    grid-column-gap: 1vw;
    grid-row-gap: 5vh;
    margin-top: 3vh;
    margin-left: 15vw;
    font-family: Consolas;
    position: relative;
    align-content: center;
    
}
.card-roxo{
    transition: 0.2s;
    margin-right: 1vw;
    width: 50%;
    height: 35vh;
    background-color: #9747FF;
    border-radius: 3Vw;
    text-align: right;
    padding: 1vh;
    box-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
}
.card-roxo img{

    width:15vw;
    clip-path: circle();
   
}
.card-roxo:hover{
    transition: 0.2s;
    transform: translateY(-1vw); 
	box-shadow: 0 1vw 1vw rgba(255,170,202); 
}
/* card azul */
.card-azul{
    align-items: center;
    text-align: center;
    background-color: #379BFF;
    border-radius: 3Vw;
    transition: 0.2s;
    box-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
}
.card-azul:hover{
    transition: 0.2s;
    transform: translateY(-1vw); 
	box-shadow: 0 1vw 1vw rgba(255,213,113); 
}
.card-azul img{
    width:15vw;
    clip-path: circle();
    margin: 3vw;
}
.card-azul h2{
    padding: 1vw;
    width: 15vw;
    font-family: Consolas;
    color:#FFFFFF;
    text-align: center;
    background-color: #92C8FF;
    border-radius: 3vw;
}
/* card amarelo */
.card-amarelo{
    transition: 0.2s;
    background-color: #FFAD5A;
    border-radius: 3vw;
    box-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
}
.card-amarelo img{
    width:15vw;
    clip-path: circle();
    margin: 3vw;
}
.card-amarelo h2{
    padding: 1vw;
    width: 15vw;
    font-family: Consolas;
    color:#FFFFFF;
    text-align: center;
    background-color: #FFD571;
    border-radius: 3vw;
}
.card-amarelo:hover{
    transition: 0.2s;
    transform: translateY(-1vw); 
	box-shadow: 0 1vw 1vw rgba(146,200,255); 
}
/********************************************** SLIDER **********************************************/
.container-slide{
    height: 74.6vh;
    width: 97vw;
    /* border-radius: 20px; */
    overflow: hidden;
    position: relative;
    top: 37.4vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin-bottom: 5vh;
 }

 .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
 }
 .dot{
    width: 8px;
    height: 8px;
    border: 2px solid #FFFFFF;
    margin: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s;
 }
 .bar:hover{
    background-color: #FFFFFF;
 }

 input{
    display: none;
 }

 .slides{
    display:flex;
    width: 500vw;
    height: 100vh;
 }
 .slide {
    width: 20%;
    transition: 0.6s;

 }

 .slide img{
    width: 99vw;
    height: 100%;
 }

 #slide1:checked ~ .s1{ /*Testa para saber se o slide1 está check, caso esteja a class .s1 assume a propriedade definida*/
    margin-left: 0;
 }
 #slide2:checked ~ .s1{/*Testa para saber se o slide2 está check, caso esteja a class .s1 assume a propriedade definida*/
    margin-left: -20%;
 }
 #slide3:checked ~ .s1{/*Testa para saber se o slide3 está check, caso esteja a class .s1 assume a propriedade definida*/
    margin-left: -40%;
 }


 
/*MODO*/
 
.titulo{
    color:#FFAD5A;
    font-family: 'Consolas';
    font-size: 3vw;
    /* margin-left: 5vw; */
    margin-top: 3vh;
    margin-bottom: 5vh;
 }
 
 .line_modo{
    height: 60vh;
    margin-top: 20vh;
    width: auto;
 
 }
 
 .imagemmodu{
     width: 30vw;
 }
 
 
 .caixa{
    width: 30vw;
    float: left;
    margin-left: 13vw;
    font-family: 'Consolas';
    font-size: 1.5vw;
    text-align: justify;
 }

