
/* PAGINA DE ATIVIDADES (atividade.blade.php) */

.pag-atvs{
    height: 100vh;
    margin-top: 15vh;
    margin-left: 0;
    transition: 0.3s;
    margin-bottom: 20vh;
  }
  .pag-atvs.active{
    margin-left: 20%;
  }
  
  .content{
    margin: 0;
  }
  .content.active {
    margin-left: 250px;
}
  .sidebar-btn{
    z-index: 10000;
    border: none;
    background-color: transparent;
    color: #9747FF;
    transition: var(--transicao);
  }
  .sidebar-btn.active{
    z-index: 10000;
  }
  .sidebar-btn:hover{
    color: #3d186d;
    transition: var(--transicao);
  }
  .bi-list{
    font-size: 5vw;
  }


  .engloba-atv{
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: -250vw;
    transition: 0.3s;
    color: white;
    
  }
  .engloba-atv.active{
    left:0;
    box-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
  }
  .blocado.active{
    background-color: #FFFFFF;
  }  
  .menu-atv{
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 1vh;
    padding: 0;
  }
  .titulo-bloc{
    color: #FFFFFF;
    align-items: center;
    height: 5vh;
    background-color: #9747FF;
  }
  .eng-atv{
    padding: 1vh;
  }
  .btn-atv{
    width: 100%;
    color: #FFFFFF;
    background-color: #9747FF;
    border-radius: 1vh;
    border: none;
    padding: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    transition: 0.4s;
  }
  .btn-atv:hover{
    text-decoration: underline;  
    box-shadow: 0 0.5vw 0.5vw rgba(0,0,0,0.5);
    transition: 0.4s;
  }
     